:root {
    --idk: slategray; 
  }
              @font-face { font-family: UbuntuSans; src: url('Ubuntu_Sans/static/UbuntuSans-Regular.ttf'); }
              @font-face { font-family: UbuntuSansThin; src: url('Ubuntu_Sans/static/UbuntuSans-Thin.ttf'); }
              @font-face { font-family: UbuntuSansBold; src: url('Ubuntu_Sans/static/UbuntuSans-Bold.ttf'); } 
              @keyframes wave {
                0% {
                  opacity: 0%; transform: translateY(0%);
                }
                25% {opacity: 75%;}
                90% {opacity: 0%;}
                100% {
                  opacity: 0%; transform: translateY(50%);
                }
              }
              body {
                margin: 0;
                overflow-y: scroll;
                background-color: #ECF39E
              }
              h1 {
                  color: #90A955;
                  font-family: "UbuntuSansBold";
                  font-size: 500%;
                  text-align: center;
                  padding-bottom: -25px;
              }
              h2 {
                color: #0E6BA8;
                font-family: "UbuntuSansBold";
                font-size: 200%;
                text-align: left;
                padding-left: 15%;
                z-index: 1;
                padding-bottom: 100px
                
              }
              h3 {
                color: #0E6BA8;
                font-family: "UbuntuSansBold";
                font-size: 200%;
                text-align: left;
                padding-left: 15%;
                z-index: 1;
                
              }
              h4 {
                color: #90A955;
                font-family: "UbuntuSansBold";
                font-size: 200%;
                text-align: left;
                padding-left: 15%;
                z-index: 1;
                
              }
              h5
              {
                color: #90A955;
                font-family: "UbuntuSansBold";
                font-size: 200%;
                text-align: left;
                padding-left: 15%;
                z-index: 1;  
              }
              .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                }
              .jadav {
                border: 6px solid #90A955;
                border-radius: 50px;
              }
              .hline {
                border-bottom: 7px solid rgba(255,0,0,0);
                border-top: 0px solid   rgba(255,0,0,0);
                border-left: 0px solid  rgba(255,0,0,0);
                border-right: 0px solid rgba(255,0,0,0);
                padding-top: 65px;
              }
              .transition {
                background-image: linear-gradient(rgba(255,0,0,0), sandybrown);
                height: 400px;
              }
              .transition2 {
                background-image: linear-gradient(sandybrown 50%, rgba(255,0,0,0));
                padding-top: 750px;
                height: 100px;
              }
              .waaa{
                animation: 5s ease-in 1s infinite normal wave;
                animation-delay: 2s;
                z-index: 3;
              }
              .centralpark {
                border-radius: 50px;
                border: 6px solid #90A955;
              }
              .award {
                border: 6px solid #90A955;
                border-radius: 50px;
               }
              h6 {
                 color: #90A955;
                 font-family: "UbuntuSansBold";
                 font-size: 200%;
                 text-align: left;
                 padding-left: 15%;
                 z-index: 1;
               }
               .collapsible {
                background-color: #777;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
              }
              