:root {
    --idk: #00ff88; 
  }
              @font-face { font-family: Ubuntu; src: url('Ubuntu/Ubuntu-Regular.ttf'); } 
              h1 {
                  color: teal;
                  font-family: "Ubuntu";
                  font-size: 750%;
                  text-align: center;
              }
              .center {
                display: block;
                margin-left: 100px;
                margin-right: auto;
                }